<link rel="stylesheet" href="/stylesheets/company-view-apply.css">
{{#each companyapllyjob}}

<img src="/users/{{userid}}.jpg" alt="person">
<h1>{{jobtitle}}</h1>
<p>{{username}}</p>
<p>{{status}}</p>
<a href="/company/accept/{{_id}}"><button>Accept</button></a>
<a href="/company/company-userprofileview/{{userid}}"><button>view user</button></a>
<a href="/company/reject/{{_id}}"><button>Reject</button></a>

{{/each}}


{{#each applied}}
<h1>applied</h1>
<img src="/users/{{userid}}.jpg" alt="person">
<h1>{{jobtitle}}</h1>
<p>{{username}}</p>
<p>{{status}}</p>
<a href="/company/accept/{{_id}}"><button>Accept</button></a>
<a href="/company/company-userprofileview/{{userid}}"><button>view user</button></a>
<a href="/company/reject/{{_id}}"><button>Reject</button></a>

{{/each}}


{{#each accept}}
<h1>accepted</h1>
<img src="/users/{{userid}}.jpg" alt="person">
<h1>{{jobtitle}}</h1>
<p>{{username}}</p>
<p>{{status}}</p>
<a href="/company/accept/{{_id}}"><button>Accept</button></a>
<a href="/company/company-userprofileview/{{userid}}"><button>view user</button></a>
<a href="/company/reject/{{_id}}"><button>Reject</button></a>

{{/each}}



{{#each reject}}
 <h1>rejected</h1>
<img src="/users/{{userid}}.jpg" alt="person">
<h1>{{jobtitle}}</h1>
<p>{{username}}</p>
<p>{{status}}</p>
<a href="/company/accept/{{_id}}"><button>Accept</button></a>
<a href="/company/company-userprofileview/{{userid}}"><button>view user</button></a>
<a href="/company/reject/{{_id}}"><button>Reject</button></a>

{{/each}}