
<p>{{userprofile.fullName}}</p>
<p>{{userprofile.email}}</p>
<p>{{userprofile.phoneNumber}}</p>
<p>{{userprofile.workStatus}}</p>
<p>{{userprofile.about}}</p>
<p>{{userprofile.experiance}}</p>
<p>{{userprofile.jobcatagory}}</p>
<p>{{userprofile.language}}</p>
<p>{{userprofile.qualification}}</p>
<p>{{userprofile.skill}}</p>
<a href="/resume/{{userprofile._id}}.pdf" target="_blank">view resume</a>

