

<h1>EDIT JOB</h1>
<form action="/company//editedjob/{{currentjob._id}}" method="post">
<h2>Title</h2>
<input type="text" value="{{currentjob.title}}" name="title">
<h2>Discription</h2>
<input type="text" value="{{currentjob.discription}}" name="discription">
<h2>Qualification</h2>
<input type="text" value="{{currentjob.qualification}}" name="qualification">
<h2>Veccancy</h2>
<input type="text" value="{{currentjob.veccancy}}" name="veccancy">
<h2>Salary</h2>
<input type="text" value="{{currentjob.salary}}" name="salary">
<h2>Experiance</h2>
<input type="text" value="{{currentjob.experience}}" name="experience">
<h2>Last date</h2>
<input type="text" value="{{currentjob.lastdate}}" name="lastdate">
<h2>Job Type</h2>
 <select name="jobtype" id="" value="{{currentjob.jobtype}}">
        <option  value="fresher" >full time</option>
        <option  value="2year">part time</option>
    </select><br>
<button>Save</button>
</form>