<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/stylesheets/viewjobcomp.css">

{{#each job}}

<div class="job">

<h1>{{title}}</h1>
<p>{{qualification}}</p>
<p>Veccancy:{{veccancy}}</p>
<p>Salary:{{salary}}</p>
<p>Experiance:{{experiance}}</p>
<p>Date posted:{{dateposted}}</p>
<p>Last date:{{lastdate}}</p>
<p>Job type:{{jobtype}}</p>
<p>JOB STATUS:{{jobstatus}}</p>
<div class="icon">
<a href=""><i class="fa-solid fa-pen-to-square"></i>
</a>
<a href="/company/delete/{{_id}}" ><i class="fa-solid fa-trash"></i>
</a>
 </div>
</div>

{{/each}}