<link rel="stylesheet" href="/stylesheets/userhome.css
">


<h1>{{user.fullName}}</h1>

<p>{{user.phoneNumber}}</p>
<p>{{user.workStatus}}</p>
<p>{{user.about}}</p>
<p>{{user.experiance}}</p>
<p>{{user.jobcatagory}}</p>
<p>{{user.language}}</p>
<p>{{user.qualification}}</p>
<p>{{user.skill}}</p>
<a href="/logoutuser"><button>log out</button></a>
<a href="/view-user-application">VIEW APPLIED JOBS</a><br>
<a href="/viewjobuser">VIEW ALL JOBS</a><br>
<a href="/userprofile">update profile</a><br>
<a href="/re-editprofile">edit profile</a><br>