<link rel="stylesheet" href="/stylesheets/viewjobuser.css">

<h1>userviewjob</h1>

<div class="job">

<h1>title{{title}}</h1>
<p>{{qualification}}</p>
<p>Veccancy:{{veccancy}}</p>
<p>Salary:{{salary}}</p>
<p>Experiance:{{experiance}}</p>
<p>Date posted:{{dateposted}}</p>
<p>Last date:{{lastdate}}</p>
<p>Job type:{{jobtype}}</p>
<p>JOB STATUS:{{jobstatus}}</p>
<div class="icon">
<a href=""><i class="fa-solid fa-pen-to-square"></i>
</a>
<a href=""><i class="fa-solid fa-trash"></i>
</a>
 </div>
</div>